In [ ]:
import numpy as np
import pandas as pd

df = pd.read_csv('Production_Crops_E_All_Data_NOFLAG.csv', encoding='latin-1', engine='python')
df

       Area Code  ...       Y2018
0              2  ...     20053.0
1              2  ...     17161.0
2              2  ...     34413.0
3              2  ...     25785.0
4              2  ...      7036.0
...          ...  ...         ...
50246       5817  ...      5461.0
50247       5817  ...   2219089.0
50248       5817  ...   7233314.0
50249       5817  ...    117018.0
50250       5817  ...  84643108.0

[50251 rows x 65 columns]

In [ ]:
#check for non Null count in the data set
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50251 entries, 0 to 50250
Data columns (total 65 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     50251 non-null  int64
 1   Area          50251 non-null  object
 2   Item Code     50251 non-null  int64
 3   Item          50251 non-null  object
 4   Element Code  50251 non-null  int64
 5   Element       50251 non-null  object
 6   Unit          50251 non-null  object
 7   Y1961         33768 non-null  float64
 8   Y1962         33795 non-null  float64
 9   Y1963         33793 non-null  float64
 10  Y1964         33821 non-null  float64
 11  Y1965         33812 non-null  float64
 12  Y1966         33961 non-null  float64
 13  Y1967         33993 non-null  float64
 14  Y1968         34075 non-null  float64
 15  Y1969         34107 non-null  float64
 16  Y1970         34221 non-null  float64
 17  Y1971         34292 non-null  float64
 18  Y1972         34338 non-null  float64
 19  Y1973         34348 non-null  float64
 20  Y1974         34416 non-null  float64
 21  Y1975         34583 non-null  float64
 22  Y1976         34666 non-null  float64
 23  Y1977         34858 non-null  float64
 24  Y1978         34916 non-null  float64
 25  Y1979         35084 non-null  float64
 26  Y1980         35390 non-null  float64
 27  Y1981         35506 non-null  float64
 28  Y1982         35627 non-null  float64
 29  Y1983         35705 non-null  float64
 30  Y1984         35806 non-null  float64
 31  Y1985         37567 non-null  float64
 32  Y1986         37768 non-null  float64
 33  Y1987         37907 non-null  float64
 34  Y1988         38106 non-null  float64
 35  Y1989         38306 non-null  float64
 36  Y1990         39788 non-null  float64
 37  Y1991         40011 non-null  float64
 38  Y1992         43475 non-null  float64
 39  Y1993         43685 non-null  float64
 40  Y1994         43972 non-null  float64
 41  Y1995         44158 non-null  float64
 42  Y1996         44253 non-null  float64
 43  Y1997         44452 non-null  float64
 44  Y1998         44620 non-null  float64
 45  Y1999         44877 non-null  float64
 46  Y2000         45279 non-null  float64
 47  Y2001         45370 non-null  float64
 48  Y2002         45432 non-null  float64
 49  Y2003         45736 non-null  float64
 50  Y2004         45936 non-null  float64
 51  Y2005         46005 non-null  float64
 52  Y2006         46190 non-null  float64
 53  Y2007         46266 non-null  float64
 54  Y2008         46297 non-null  float64
 55  Y2009         46312 non-null  float64
 56  Y2010         46398 non-null  float64
 57  Y2011         46414 non-null  float64
 58  Y2012         46493 non-null  float64
 59  Y2013         46500 non-null  float64
 60  Y2014         46527 non-null  float64
 61  Y2015         46549 non-null  float64
 62  Y2016         46570 non-null  float64
 63  Y2017         46584 non-null  float64
 64  Y2018         46605 non-null  float64
dtypes: float64(58), int64(3), object(4)
memory usage: 24.9+ MB

In [ ]:
#to find the the numbers of rows and columns of the dataset
df.shape

(50251, 65)

In [ ]:
#To check the number of rows for area harvested,yield and production

filter1 = df['Element Code'] == 5312
filter2 = df['Element Code'] == 5419
filter3 = df['Element Code'] == 5510

print(len(df[filter1]),len(df[filter2]),len(df[filter3]))

16915 16140 17196

In [ ]:
#For our report is mainly focus on a country,so we remove all the row that is not representing as a country
#Next since from year 1961 to 1991 consist more than 20% of null data so choose to remove all of the data start from year 1961 to 1992

df5 = pd.read_csv('Production_Crops_E_All_Data_NOFLAG.csv', encoding='latin-1', engine='python')
df5.drop(df5.iloc[:, 7:38], inplace = True, axis = 1)
df5.drop(index=df5.iloc[37790:50251, :].index.tolist(), inplace = True)

df5

       Area Code         Area  Item Code  ...     Y2016     Y2017     Y2018
0              2  Afghanistan        221  ...   19481.0   19793.0   20053.0
1              2  Afghanistan        221  ...   16859.0   13788.0   17161.0
2              2  Afghanistan        221  ...   32843.0   27291.0   34413.0
3              2  Afghanistan        711  ...   25638.0   27582.0   25785.0
4              2  Afghanistan        711  ...    7037.0    6954.0    7036.0
...          ...          ...        ...  ...       ...       ...       ...
37785        181     Zimbabwe       1729  ...   17000.0   17598.0   18185.0
37786        181     Zimbabwe       1729  ...    6531.0    6348.0    6437.0
37787        181     Zimbabwe       1735  ...   33224.0   33683.0   34082.0
37788        181     Zimbabwe       1735  ...   72350.0   72445.0   72661.0
37789        181     Zimbabwe       1735  ...  240378.0  244017.0  247640.0

[37790 rows x 34 columns]

In [ ]:
#the data set that removed all those data that is incomplete ,exp doesnt have yield or production

size_of_row = len(df5.index)
size_of_column = len(df5.columns)
elementCode = 1
dropRowIndex = []
for i in range(size_of_row):
  if (elementCode == 1) & (df5.iloc[i][4] == 5312) :
    elementCode = 2
  elif (elementCode == 2) & (df5.iloc[i][4] == 5419) :
    elementCode = 3
  elif (elementCode == 3) & (df5.iloc[i][4] == 5510) :
    elementCode = 1
  else :
    if elementCode == 1 :
      dropRowIndex.append(i)
    elif elementCode == 2 :
      dropRowIndex.append(i)
      dropRowIndex.append(i-1)
    elif elementCode == 3 :
      dropRowIndex.append(i)
      dropRowIndex.append(i-1)
      dropRowIndex.append(i-2)
    elementCode = 1

for i in dropRowIndex:
  df5 = df5.drop(i)

df5

       Area Code         Area  Item Code  ...     Y2016     Y2017     Y2018
0              2  Afghanistan        221  ...   19481.0   19793.0   20053.0
1              2  Afghanistan        221  ...   16859.0   13788.0   17161.0
2              2  Afghanistan        221  ...   32843.0   27291.0   34413.0
3              2  Afghanistan        711  ...   25638.0   27582.0   25785.0
4              2  Afghanistan        711  ...    7037.0    6954.0    7036.0
...          ...          ...        ...  ...       ...       ...       ...
37785        181     Zimbabwe       1729  ...   17000.0   17598.0   18185.0
37786        181     Zimbabwe       1729  ...    6531.0    6348.0    6437.0
37787        181     Zimbabwe       1735  ...   33224.0   33683.0   34082.0
37788        181     Zimbabwe       1735  ...   72350.0   72445.0   72661.0
37789        181     Zimbabwe       1735  ...  240378.0  244017.0  247640.0

[36321 rows x 34 columns]

In [ ]:
#for our project we mainly focus on 6 types of crop only,so we try to remove other crop from our dataset
#the crop that we are focusing on our project
#Potatoes: 116
#Lettuce and chicory: 372
#Tomatoes: 388
#Cabbages and other brassicas: 358
#Sugar cane: 156
#Wheat: 15

filter = (df5["Item Code"] == 116) | (df5["Item Code"] == 372) | (df5["Item Code"] == 388) | (df5["Item Code"] == 358) | (df5["Item Code"] == 156) | (df5["Item Code"] == 15)
df5 = df5[filter]
df5

       Area Code         Area  Item Code  ...     Y2016     Y2017     Y2018
69             2  Afghanistan        116  ...   35699.0   32116.0   32400.0
70             2  Afghanistan        116  ...  119868.0  159794.0  190026.0
71             2  Afghanistan        116  ...  427917.0  513194.0  615684.0
92             2  Afghanistan        156  ...    1333.0    1145.0    1766.0
93             2  Afghanistan        156  ...  130263.0  294541.0  143947.0
...          ...          ...        ...  ...       ...       ...       ...
37742        181     Zimbabwe        388  ...   72706.0   73075.0   73444.0
37743        181     Zimbabwe        388  ...   25490.0   26035.0   26580.0
37751        181     Zimbabwe         15  ...   22094.0   22070.0   20734.0
37752        181     Zimbabwe         15  ...   19013.0   17542.0   20010.0
37753        181     Zimbabwe         15  ...   42008.0   38715.0   41488.0

[2592 rows x 34 columns]

In [ ]:
#remove all those country that grow less than 4 type of the estential crop
dfX = df5["Area Code"].value_counts() 
dfX2 = pd.DataFrame(dfX, columns=['Area Code'])
size_of_rowdfX2 = len(dfX2.index)
x = dfX2.index
y = []
for i in range(size_of_rowdfX2) :
  if dfX2.iloc[i][0] < 12 :
    filter = df5["Area Code"] == x[i]
    temp = df5[filter]
    tempIndex = temp.index
    for i2 in tempIndex :
      y.append(i2)

for i in y:
  df5 = df5.drop(i)

df5

       Area Code      Area  Item Code  ...     Y2016     Y2017     Y2018
164            3   Albania        358  ...    1846.0    1813.0    1733.0
165            3   Albania        358  ...  306907.0  290159.0  305003.0
166            3   Albania        358  ...   56655.0   52600.0   52857.0
220            3   Albania        372  ...    1213.0    1269.0    1345.0
221            3   Albania        372  ...  143092.0  135797.0  144885.0
...          ...       ...        ...  ...       ...       ...       ...
37742        181  Zimbabwe        388  ...   72706.0   73075.0   73444.0
37743        181  Zimbabwe        388  ...   25490.0   26035.0   26580.0
37751        181  Zimbabwe         15  ...   22094.0   22070.0   20734.0
37752        181  Zimbabwe         15  ...   19013.0   17542.0   20010.0
37753        181  Zimbabwe         15  ...   42008.0   38715.0   41488.0

[2283 rows x 34 columns]

In [ ]:
# remove those row that have more than 60% null data
size_of_row = len(df5.index)
size_of_column = len(df5.columns)

selectedData = df5.iloc[0:size_of_row,7:size_of_column]
selectedData_size_of_row = len(selectedData.index)
selectedData_size_of_column = len(selectedData.columns)
elementCode = 1
test = False 
removingRowIndex = []
selectedDataIndex = selectedData.index
for idx in range(size_of_row):
    if (selectedData.iloc[idx].isnull().sum()) < 11 & (elementCode == 1) & (test == False):
      elementCode = 2
    elif (selectedData.iloc[idx].isnull().sum()) < 11 & (elementCode == 2) & (test == False):
      elementCode = 3
    elif (selectedData.iloc[idx].isnull().sum()) < 11 & (elementCode == 3) & (test == False):
      elementCode = 1
    else :
      if elementCode == 1 :
        removingRowIndex.append(selectedDataIndex[idx])
        elementCode = 2
        test = True
      elif elementCode == 2 :
        if test == True :
          removingRowIndex.append(selectedDataIndex[idx])
        else :
          test = True
          removingRowIndex.append(selectedDataIndex[idx])
          removingRowIndex.append(selectedDataIndex[idx-1])
        elementCode = 3
      elif elementCode == 3 :
        if test == True :
          removingRowIndex.append(selectedDataIndex[idx])
        else :
          removingRowIndex.append(selectedDataIndex[idx])
          removingRowIndex.append(selectedDataIndex[idx-1])
          removingRowIndex.append(selectedDataIndex[idx-2])
        test = False
        elementCode = 1

for i in removingRowIndex:
  df5 = df5.drop(i)
  selectedData = selectedData.drop(i)

df5

       Area Code      Area  Item Code  ...     Y2016     Y2017     Y2018
164            3   Albania        358  ...    1846.0    1813.0    1733.0
165            3   Albania        358  ...  306907.0  290159.0  305003.0
166            3   Albania        358  ...   56655.0   52600.0   52857.0
264            3   Albania        116  ...    9693.0    9948.0    9726.0
265            3   Albania        116  ...  245894.0  251110.0  261714.0
...          ...       ...        ...  ...       ...       ...       ...
37742        181  Zimbabwe        388  ...   72706.0   73075.0   73444.0
37743        181  Zimbabwe        388  ...   25490.0   26035.0   26580.0
37751        181  Zimbabwe         15  ...   22094.0   22070.0   20734.0
37752        181  Zimbabwe         15  ...   19013.0   17542.0   20010.0
37753        181  Zimbabwe         15  ...   42008.0   38715.0   41488.0

[1794 rows x 34 columns]

In [ ]:
#replace null data to mean value
size_of_row = len(df5.index)
size_of_column = len(df5.columns)

selectedData = df5.iloc[0:size_of_row,7:size_of_column]
selectedData_size_of_row = len(selectedData.index)
selectedData_size_of_column = len(selectedData.columns)
selectedData_mean = selectedData.mean(axis = 1)
selectedData_mean = selectedData_mean.round(decimals=1)

for idx in range(5):
    selectedData.iloc[idx].fillna(value = selectedData_mean.iloc[idx],inplace = True)

df5.iloc[0:size_of_row,7:size_of_column] = selectedData

df5

       Area Code      Area  Item Code  ...     Y2016     Y2017     Y2018
164            3   Albania        358  ...    1846.0    1813.0    1733.0
165            3   Albania        358  ...  306907.0  290159.0  305003.0
166            3   Albania        358  ...   56655.0   52600.0   52857.0
264            3   Albania        116  ...    9693.0    9948.0    9726.0
265            3   Albania        116  ...  245894.0  251110.0  261714.0
...          ...       ...        ...  ...       ...       ...       ...
37742        181  Zimbabwe        388  ...   72706.0   73075.0   73444.0
37743        181  Zimbabwe        388  ...   25490.0   26035.0   26580.0
37751        181  Zimbabwe         15  ...   22094.0   22070.0   20734.0
37752        181  Zimbabwe         15  ...   19013.0   17542.0   20010.0
37753        181  Zimbabwe         15  ...   42008.0   38715.0   41488.0

[1794 rows x 34 columns]

In [ ]:
filter1 = len(df5["Area Code"].unique())   #number of country qualified
print(filter1)

123

In [ ]:
df5.to_csv('CLEANED.csv')